<footer class="footer-distributed">
  <div class="scroll-top" (click)="goToTop()">
    <i class="fas fa-sort-up scroll-icon"></i>
  </div>
  <div class="footer-left">
    <p class="footer-links">
      <a href="/home">Home</a>
      ·
      <a href="/about">About</a>
      ·
      <a href="/person/Carole">Carole</a>
      ·
      <a href="/person/Colt">Colt</a>
    </p>
    <p class="footer-company-name">Company Name &copy; {{currentYear}}</p>
    <div>
      <i class="fa fa-envelope"></i>
      <p>
        <a href="mailto:support@company.com">support@company.com</a>
      </p>
    </div>
  </div>
  <div class="footer-center">
    <div>
      <img src="assets/CCQC-logo-white.png" class="ccqc-logo">
    </div>
  </div>
  <div class="footer-right">
    <div class="footer-icons">
      <a href="https://facebook.com/profile.php?id=100000261250879" target="_blank">
        <i class="fab fa-facebook pink"></i>
      </a>
      <a href="http://instagram.com/caroleac/" target="_blank">
        <i class="fab fa-instagram pink"></i>
      </a>
      <a href="https://twitter.com/caroleACharris" target="_blank">
        <i class="fab fa-twitter pink"></i>
      </a>
    </div>
    <div class="footer-icons">
      <a href="https://facebook.com/COLTstreet3" target="_blank">
        <i class="fab fa-facebook green"></i>
      </a>
      <a href="http://instagram.com/instacoltstreet/" target="_blank">
        <i class="fab fa-instagram green"></i>
      </a>
      <a href="https://twitter.com/COLTstreet" target="_blank">
        <i class="fab fa-twitter green"></i>
      </a>
      <a href="https://github.com/COLTstreet" target="_blank">
        <i class="fab fa-github green"></i>
      </a>
    </div>
  </div>
</footer>